section.topo {
    padding-top: 10vh;
    width: 100%;
    height: 89vh;
    background-color: rgb(22, 21, 21);
    color: white;
}

.box-eu {
    margin: 0 auto;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
}

.my-img {
    margin: 10px auto;
    background: url('../images/eu.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.text-wraper-box h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.text-wraper-box ul {
    list-style-type: none;
    display: flex;
    width: 70px;
    margin: 10px auto;
    text-align: center;
    justify-content: space-between;
}

section.tecnologias {
    color: white;
    background-color: rgb(30, 30, 30);
}

.container-tecnologias {
    margin: 0 auto;
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    text-align: center;
}

section.tecnologias .container-tecnologias>h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 8px 0;
}

section.projetos {
    background-color: rgb(30, 30, 30);
    width: 100%;
}

section.projetos .container-projetos {
    width: 95%;
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
    color: white;
}

section.projetos .container-projetos>h2 {
    text-transform: uppercase;
    padding: 30px 0;
    font-size: 30px;
}

section.contato {
    padding-top: 20px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    color: white;
}

.container-contato {
    width: 95%;
    padding: 15px 2%;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-contato h1 {
    text-transform: uppercase;
}

.container-contato ul {
    list-style-type: none;
}

.container-contato ul li a {
    color: white;
    text-decoration: none;
    transition: .4s;
}

.container-contato ul li a:hover {
    font-size: 1.3rem;
}

.container-contato ul li a img {
    position: relative;
    top: 7px;
    right: 5px;
}


/*inicio media queries*/

@media screen and (max-width: 425px) {
    .box-eu {
        margin: 0 auto;
        border-radius: 20px;
        width: 100%;
        height: 400px;
        text-align: center;
        padding: 20px;
    }
}