.container-projeto {
    border-radius: 12px;
    border: 1px solid;
    display: inline-block;
    width: 300px;
    padding: 10px 5px;
    margin: 5px;
}

.container-projeto a:nth-last-of-type(1) {
    margin: 11px auto;
    display: block;
    width: 50%;
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    background-color: rgb(39, 77, 204);
    border-radius: 12px;
    transition: .4s;
}

.container-projeto a:nth-last-of-type(1):hover {
    border-radius: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: aqua;
}

.img-projeto {
    margin: 0 auto 15px auto;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: .4s;
}

.img-projeto:hover {
    border-radius: 12px;
}